<mat-card class="details-card">
  <mat-toolbar class="details-card-toolbar">
    <h1 class="toolbar-title">{{ title }}</h1>
    <span class="toolbar-text">{{ month | date: "M/Y" }}</span>
  </mat-toolbar>
  <main class="details-card-content">
    <p [style.color]="selectedColor.hexadecimal" class="content-number">
      {{ contentNumber }}
    </p>
    <button
      class="content-button"
      mat-raised-button
      color="{{ selectedColor.name }}"
    >
      Ver detalhes
    </button>
  </main>
</mat-card>
