<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <ce-details-card
      [title]="'João Vitor Pereira dos Santos'"
      [month]="2019 / 06 / 01"
      [contentNumber]="50"
      [detailColor]="'primary'"
    ></ce-details-card>
    <ce-table [ELEMENT_DATA]="ELEMENT_DATA"></ce-table>
  </body>
</html>
